.page {
  min-height: 92vh;
}

.maincard {
  border: none;
  background-color: transparent;
  color: #4cb8c4;
  margin-top: 5vh;
}
.chead {
  background-color: transparent;
  color: #3cd3ad;
  border: 1px solid #3cd3ad !important;
  border-radius: 20px !important;
}
.nav {
  background-image: linear-gradient(
    to right,
    #4cb8c4 30%,
    #3cd3ad 51%,
    #4cb8c4 100%
  );
  box-shadow: 1px 1px 4px #4cb8c4;
  border: none;
}
.navlink {
  font-size: 1.2em;
  color: rgb(16, 37, 60) !important;
}
.navlink:hover {
  transform: translateY(-2px);
  transition-duration: 100ms;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  color: #4cb8c4;
}

.page input {
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1.1rem !important;
  border-color: #3cd3ad !important;
  border-radius: 0%;
  border-width: 1px !important;
  background-color: transparent;
  box-shadow: none !important;
  color: rgba(255, 244, 169, 1) !important;
  margin-bottom: 15px !important;
}

.page input:focus {
  background-color: transparent !important;
  outline: none !important;
  border-color: rgba(255, 244, 169, 1) !important;
  color: rgba(255, 244, 169, 1) !important ;
}
.page label,
h1,h3 {
  color: #3cd3ad;
}
h5 {
  color: #4cb8c4;
  font-weight: 400;
}
#connectButton {
  padding: 2px;
  width: fit-content;
  font-size: 1.1em;
  font-weight: 500;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #3cd3ad;
  color: black;
  margin-bottom: 5px;
 
}
.page button {
  padding: 2px;
  /* width: 150px; */
  width: 150px;
  font-size: 1.1em;
  font-weight: 400;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #3cd3ad;
  color: black;

  color: white;
  background-image: linear-gradient(
    to right,
    #4cb8c4 30%,
    #3cd3ad 51%,
    #4cb8c4 100%
  );
  /* box-shadow: 1px 1px 4px #4cb8c4; */
}

