* {
  font-family: "Montserrat", sans-serif;
}
.main {
  min-height: 95vh;
  /* display: flex; */

  /* align-items: center; */
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 5.2%,
    rgb(16, 37, 60) 35.2%,
    rgb(0, 0, 0) 80.6%
  );
  background-position: center;
  background-size: cover;
}
.title {
  font-size: 5em;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  background-color: #fad961;
  background-image: radial-gradient(
    circle 400px at 6.8% 8.3%,
    rgba(255, 244, 169, 1) 0%,
    rgba(255, 244, 234, 1) 100.2%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtitle {
  font-size: 1.7em;
  margin-top: 15vh;
  font-weight: 800;
  color: white;
  background-image: linear-gradient(
    to right,
    #4cb8c4 30%,
    #3cd3ad 51%,
    #4cb8c4 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text {
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 120px;
}

.buttonContainer {
  margin-top: 50px;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-evenly;
  align-items: center; */
  /* background-color: white; */
}
.intro-text a {
  padding: 20px;
}

.landingbutton {
  padding: 2px;
  /* width: 250px; */
  font-size: 1.5em;
  font-weight: 600;
  height: 70px;
  border-radius: 10px;
  border: 1px solid #3cd3ad;
  color: #4cb8c4;

  background-color: transparent;
  box-shadow: 1px 1px 4px #4cb8c4;
}
.landingbutton:hover {
  background-image: linear-gradient(
    to right,
    #4cb8c4 0%,
    #3cd3ad 51%,
    #4cb8c4 100%
  );
  color: #032b2c;
  text-transform: none;
  transform: translate(0);
  transition-duration: 0.3s;
}

@media only screen and (min-width: 1200px) {
  /* .buttonContainer {
    padding: 0 200px;
  } */
  .title {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 40px;
  }
  .intro-text a {
    padding: 0px;
    margin-top:5vh;
  }

  .landingbutton {
    height: 50px;
  }
}
