.CSS1 {
  border: 1px solid black;
  padding: 10px;
  margin-top: 0.5%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

.page h5{
  margin-left: -20px;
}
.goBack,.goBack tr{
  /* border: 1px solid rgba(255, 244, 169, 1); */
  color: rgba(255, 244, 169, 1);
}
.invoiceForm input{
  margin-bottom: 0px !important;
  
}
.invoiceForm label{
  margin-top:20px !important;
}
.bmint button{
  background: linear-gradient(109.6deg, rgb(217, 250, 158) 11.2%, rgb(128, 251, 174) 91.1%) !important;
  color: black;
  margin-left:20px;
}


.bmint tr:hover,td:hover{
  color: rgba(255, 244, 169, 1) !important;

}
.page tr,.page td{

  color: rgba(255, 244, 169, 1) !important;
}
.page tr:hover,td:hover{
  color: rgba(255, 244, 169, 1) !important;

}

@media screen and (max-width:768px){
  .page{
    margin-bottom: 0;
    padding-bottom:0;
  }
  .bmint table{
    overflow-x: scroll;
  }
  #connectButton{
    font-size: 14px;
  }
  
  .bmint .applyButton{
    margin: 0;
    transition: translateY(0);
    font-size: 0.9em;
    width:10vh;
    margin-top: 5px;
    height: 4vh;
    margin-bottom: 5px;
  }

}